[defaults]
roles_path = roles
host_key_checking = True
stdout_callback = yaml
forks = 20
pipelining = True
retry_files_enabled = False
gathering = smart
fact_caching_timeout = 86400

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
